h2 {
    color: red;
    text-align: center;
}
.p1 {
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: blue;
    margin-bottom: 0px;
}
.p2 {
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    color: yellow;
    background-color: peru;
    margin-top: 0px;
}