table, th, td, tr{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
th, td {
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: aquamarine;
}
.sc {
    background-color: darkorange;
}